@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'VT323', sans-serif;
	font-weight: 400;
	background-color: #051d34;
	line-height: 1.5;
	color: #fff;
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
	padding: 0 8px;
}

ul {
	list-style: none;
}

html {
	scroll-behavior: smooth;
}

.scene {
	position: absolute;
	left: 0;
	right: 0;
	height: 100vh;
	overflow: hidden;
	z-index: -10;
}

.scene svg {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}

@keyframes blink2 {
	0%,
	100% {
		opacity: 1;
	}
	25% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
}

@keyframes blink3 {
	0%,
	100% {
		opacity: 1;
	}
	33.33% {
		opacity: 0;
	}
	66.66% {
		opacity: 0;
	}
}

@keyframes blink4 {
	0%,
	100% {
		opacity: 1;
	}
	20% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
}

.blinking1 {
	animation: blink1 2s infinite;
}

.blinking2 {
	animation: blink2 4s infinite;
}

.blinking3 {
	animation: blink3 7s infinite;
}

.blinking4 {
	animation: blink4 9s infinite;
}

body::-webkit-scrollbar {
	display: none;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	--cursor-color: #fff; /* Change cursor color */
	--cursor-width: 2px; /* Change cursor width */
}
